<app-header></app-header>
<h3 class="it">INFORMATION TECHNOLOGY</h3>
<div class="parrent">
  <div><app-side-bar></app-side-bar></div>
  <div class="containt">
    <h3 class="header1">Infrastructure</h3>
    <div class="infrastructure">
      <h2>INFRASTRUCTURE</h2>
      <ng-container class="main1"><h5>
         <div class="main2">
            <div class="texts">
              <h5>IT Classrooms
                </h5>
                <h6>Well-equipped AC class rooms with
                  hanging LCD projectors, smart boards, audio system and Internet facilities.</h6>
            </div>
            <div class="images Classrooms">
              <img src="https://www.kiet.edu/uploads/infra/222229395.jpg" alt="">
            </div>
         </div>
      </h5></ng-container>
      <hr>
      <ng-container  >
        <div class="main2">
          <div class="textsLab">
            <h5>IT LAB 1 & 2
              </h5>
              <h6>The Lab is equipped with 128 latest Computers.</h6>
          </div>
          <div class="images lab">
            <img src="https://www.kiet.edu/uploads/infra/8759536.JPG" alt="">
          </div>
       </div>
      </ng-container>
      <hr>
      <ng-container >
        <div class="main2">
          <div class="textsLab">
            <h5>iOS Learning Centre of Excellence
              </h5>
              <h6>The iOS learning centre has been established under an MOU with Apple iOS University Programme in Jan 2015. It is
                equipped with 24 Mac machines, 2 iPads, (1) Laptop MAC book and LCD Projector.</h6>
          </div>
          <div class="images">
            <img src="https://www.kiet.edu/uploads/infra/85297545.JPG" alt="">
          </div>
       </div>
      </ng-container>

    </div>

</div>
</div>



<app-footer></app-footer>
