<app-header></app-header>
<div class="parrent">
  <div class="main">
    <div class="body">
      <div class="btech"><h2>B.TECH</h2></div>
      <hr class="hr1">
      <div class="intake"><h4>INTAKE</h4>
          <h5>75+</h5>
      </div>
    </div>
    <div class="overview "><a href="#" class="nav-link">Overview</a></div>
    <hr>
  </div>
  <div class="containt">
    <h3 class="header1">Information Technology</h3>
    <div class="allAbout">
      <p>
        In this knowledge era, information is the key to the success of any nation or corporate house.
        But management of this information is very crucial to the survival of the fittest in this
        competitively evolving world of today. Our course in information technology equips our pupils
         to learn and apply the tools & technology so that they leave an indelible mark on societal
         development as a whole by integrating into the curriculum topics like Internet of Things,
         Cloud Computing etc.
      </p>
      <img src="./assets/itHome.jpg" alt="">
    </div>
    <button class="btn btun" (click)="viewMore()">View More</button>
  </div>
</div>
<app-footer></app-footer>
