<app-header></app-header>
<h3 class="it">INFORMATION TECHNOLOGY</h3>
<div class="parrent">
  <div><app-side-bar></app-side-bar></div>
  <div class="containt">
    <h3 class="header1">Information Technology</h3>
    <div class="allAbout">
      <div>
        <img src="./assets/arrow.gif" class="gif" alt="">
        <button class="btn btun" (click)="registration()">Registration Form</button>
      </div>
      <br>
      <div>
        <img src="./assets/arrow.gif" class="gif" alt="">
        <button class="btn btun" (click)="login()">Student Login</button>
      </div>
      <div>
        <img src="./assets/arrow.gif" class="gif" alt="">
        <button class="btn btun" (click)="Department()">Department Login</button>
      </div>
      <div>
        <img src="./assets/arrow.gif" class="gif" alt="">
        <button class="btn btun" (click)="result()">View Result</button>
      </div>
      <p>
        The umbrella of Information Technology can envelope numerous
        aspects of computing and technology. The impact of technological
         advancements on human life is not complete without the role of
         Information Technology, along all axes. Hence all-pervading nature
          of Information Technology is culminated. The Department of Information
           Technology is accredited by NBA (National Board of Accreditation).
           IT department has highly skilled and experienced faculty members,
            who are engaged in various research projects in innovating the
            new-fangled technologies. The department regularly conducts various
             seminars and workshops in emerging topics. It aims to provide high
              quality training to students through the latest Information Technology.
      </p>
      <img src="./assets/itHome.jpg" alt="">
    </div>
    <div class="career">
      <h6>Career Opportunities after B. Tech. Information Technology-</h6>
      <ul>
        <li>Software Engineering</li>
        <li>System Analysts</li>
        <li>Software Developers</li>
        <li>DBA (Database Developer and Administrator)</li>
        <li>Media & Computer Graphics</li>
        <li>Cyber Security Managers</li>
        <li>Chip Designing</li>
        <li>Defence Organizations</li>
        <li>Technical & Logistics Cadres</li>
        <li>Mobile and wireless communication</li>
        <li>Internet & Telecommunication</li>
        <li>Academics (Teaching/ Research/Training)</li>
        <li>Software Testers</li>
        <li>Data Science Analysts</li>
        <li>PSUs</li>
        <li>Web Developers</li>
        <li>App Developers(IOS, android and others)</li>
        <li>Data scientists</li>
      </ul>
    </div>
    <div class="expect">
      <h6>What should you expect from a degree in IT at IET?-</h6>
      <ul>
        <li>Be a good engineer with ethical values.</li>
        <li>To apply technical skills to solve the problem of society.</li>
        <li>To build the career as web developer and data scientists, researcher.</li>
        <li>To learn and apply the concept of project management.</li>
        <li>To attain the soft skills for better communication and presentations.</li>
        <li>Campus placements at top IT companies</li>
        <li>
          Learn the latest IT Tools and Technologies from Internationally certified faculties.</li>
        <li>Get certified by Microsoft Academy, NPTEL, Google and others</li>
        <li>Get an opportunity for student exchange in a top global university</li>
        <li>Seminars, presentations, education yours, Guru lectures, SPRINT, summer internships, open electives, clubs, festivals, events and much more.</li>
        <li>In-house classes by well qualified faculties for GATE, CAT, MAT and others.</li>
        <li>
          Apart from the academics we also provide the platform to learn and get certified for foreign languages.</li>
      </ul>
    </div>
    <div class="slideShows">
      <div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://www.rmlau.ac.in/PhotoGallery/Photo_5088_011223102851.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.rmlau.ac.in/PhotoGallery/Photo_2949_011223102732.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://newstrack.com/h-upload/2022/11/22/1459937-ayodhya-news-vice-chancellor-prof-pratibha-goyal-rmlau.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

  </div>
</div>
<div class="view">
  <h5 class="hintake htag">B.Tech in Information Technology</h5>
  <p>4 year Full Time Course</p>
  <h6>INTAKE</h6>
  <h5 class="hintake">75+</h5>
  <button class="buttn">View More</button>
</div>

<div class="faculty">
  <div class="container">
    <h2>FACULTY</h2>
    <ul class="cards">
      <li class="card" style="width: 18rem;">
        <img src="../assets/sir2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="card-text">
            <h6>Akhilesh Maurya</h6>
            <h6 style="font-weight: 350;">Lab assistant</h6>
            <h6>Specialization</h6>
            <h6 style="font-weight: 350;">Computer Network & Information Security</h6>
            </div>
        </div>
      </li>


        <li class="card" style="width: 18rem;">
          <img src="https://www.rmlau.ac.in/new/faculty/awadheshkumar.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="card-text">
              <h6>Vineet Kumar Singh</h6>
              <h6 style="font-weight: 350;">Assistant Professor</h6>
              <h6>Specialization</h6>
              <h6 style="font-weight: 350;">Wireless Communication & Computing</h6>
              </div>
          </div>
        </li>


        <li class="card" style="width: 18rem;">
          <img src="https://www.rmlau.ac.in/new/faculty/vineetkumarsingh.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="card-text">
              <h6>Awadhesh Kumar Maurya</h6>
              <h6 style="font-weight: 350;">Assistant Professor</h6>
              <h6>Specialization</h6>
              <h6 style="font-weight: 350;">Information Technology</h6>
              </div>
          </div>
        </li>
        <li class="card" style="width: 18rem;">
          <img src="https://www.rmlau.ac.in/new/faculty/praveenmishra.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="card-text">
              <h6>Praveen Mishra</h6>
              <h6 style="font-weight: 350;">Assistant Professor</h6>
              <h6>Specialization</h6>
              <h6 style="font-weight: 350;">Artificial Intelligence/Machine Learning</h6>
              </div>
          </div>
        </li>
        <li class="card" style="width: 18rem;">
          <img src="https://www.rmlau.ac.in/new/faculty/samridhisingh.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="card-text">
              <h6>Samridhi Singh</h6>
              <h6 style="font-weight: 350;">Assistant Professor</h6>
              <h6>Specialization</h6>
              <h6 style="font-weight: 350;">Operating system, cryptography, Data structure</h6>
              </div>
          </div>
        </li>

        <li class="card" style="width: 18rem;">
          <img style="height: 20rem;" src="https://www.rmlau.ac.in/new/faculty/ParitoshTripathi.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="card-text">
              <h6>Paritosh Tripathi</h6>
              <h6 style="font-weight: 350;">Assistant Professor</h6>
              <h6>Specialization</h6>
              <h6 style="font-weight: 350;">Computer Science</h6>
              </div>
          </div>
        </li>


    </ul>
  </div>

</div>

<div class="infrastructure">
  <h2>INFRASTRUCTURE</h2>
  <ng-container *ngIf="val1 == true" class="main1"><h5>
     <div class="main2">
        <div class="texts">
          <h5>IT Classrooms
            </h5>
            <h6>Well-equipped AC class rooms with
              hanging LCD projectors, smart boards, audio system and Internet facilities.</h6>
        </div>
        <div class="images">
          <img src="https://www.kiet.edu/uploads/infra/222229395.jpg" alt="">
        </div>
     </div>
  </h5></ng-container>
  <ng-container *ngIf="val2==true" >
    <div class="main2">
      <div class="textsLab">
        <h5>IT LAB 1 & 2
          </h5>
          <h6>The Lab is equipped with 128 latest Computers.</h6>
      </div>
      <div class="images lab">
        <img src="https://www.kiet.edu/uploads/infra/8759536.JPG" alt="">
      </div>
   </div>
  </ng-container>
  <ng-container *ngIf="val3==true" >
    <div class="main2">
      <div class="textsLab">
        <h5>iOS Learning Centre of Excellence
          </h5>
          <h6>The iOS learning centre has been established under an MOU with Apple iOS University Programme in Jan 2015. It is
            equipped with 24 Mac machines, 2 iPads, (1) Laptop MAC book and LCD Projector.</h6>
      </div>
      <div class="images">
        <img src="https://www.kiet.edu/uploads/infra/85297545.JPG" alt="">
      </div>
   </div>
  </ng-container>
  <div class="buttons">
    <button class="butn" (click)="Class()">Class pic</button>
    <button class="butn" (click)="lab()">Lab pic</button>
    <button class="butn" (click)="Excilence()">Excilence</button>
  </div>
</div>


<div class="testimonials">
  <h2>TESTIMONIALS</h2>
  <div class="butTest">
    <button class="butn5" (click)="students()">STUDENT</button>
    <button class="butn5" (click)="alumni()">ALUMNI</button>
    <button class="butn5" >RECRUITER</button>
    <button class="butn5" >PARENTS</button>
  </div>
  <hr>
  <ng-container  *ngIf="student == true"  >

    <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="main2">
            <div class="imagesTest">
              <img src="https://media.licdn.com/dms/image/C4D03AQFQC6lldbfKtQ/profile-displayphoto-shrink_800_800/0/1654680516289?e=1708560000&v=beta&t=Vc9XRFFAo8X0MRrjVG9TmK9tzVkBrJEJTNmrLU854ak" alt="">
            </div>
            <div class="textTest">
              <p>
                IET has been a
                 great contributor to the development of
                 my personality. The institution organizes
                 various workshops and guest lectures. It has
                 given me immense opportunities to participate
                  and organize different events, helping me to develop
                  confidence and managerial skills. The teachers here
                   are very helping and the
                 institution not only focuses on classroom teachings
                  but also provides the students
                  with real-time problems and hands-on industry experience
                   with project works. I am very thankful to the institution
                    for giving students the freedom to think of an idea and
                     test its practical application.
              </p>
              <p style="font-weight: 600;">Akshay Kumar , IT<p>
            </div>
         </div>
           </div>
        <div class="carousel-item">
          <div class="main2">
            <div class="imagesTest">
              <img src="https://media.licdn.com/dms/image/C5103AQHagR7EJXj7Nw/profile-displayphoto-shrink_400_400/0/1571128420958?e=1708560000&v=beta&t=oQguf5PXCjreU0D7bsU-eu0th2gIrl9w_cKdHBHtjyA" alt="">
            </div>
            <div class="textTest">
              <p>
                IET has been a
                 great contributor to the development of
                 my personality. The institution organizes
                 various workshops and guest lectures. It has
                 given me immense opportunities to participate
                  and organize different events, helping me to develop
                  confidence and managerial skills. The teachers here
                   are very helping and the
                 institution not only focuses on classroom teachings
                  but also provides the students
                  with real-time problems and hands-on industry experience
                   with project works. I am very thankful to the institution
                    for giving students the freedom to think of an idea and
                     test its practical application.
              </p>
              <p style="font-weight: 600;">Prateek Giri , IT<p>
            </div>
         </div></div>
        <div class="carousel-item">
          <div class="main2">
            <div class="imagesTest">
              <img src="https://media.licdn.com/dms/image/D4D03AQFGgBfz5QdGzQ/profile-displayphoto-shrink_400_400/0/1690937890650?e=1708560000&v=beta&t=tL0ERJ-xmYgb8paKGwpvlwLr8JnJc0iamc_ze_oZtBI" alt="">
            </div>
            <div class="textTest">
              <p>
                IET has been a
                 great contributor to the development of
                 my personality. The institution organizes
                 various workshops and guest lectures. It has
                 given me immense opportunities to participate
                  and organize different events, helping me to develop
                  confidence and managerial skills. The teachers here
                   are very helping and the
                 institution not only focuses on classroom teachings
                  but also provides the students
                  with real-time problems and hands-on industry experience
                   with project works. I am very thankful to the institution
                    for giving students the freedom to think of an idea and
                     test its practical application.
              </p>
              <p style="font-weight: 600;">Mukesh Kumar Verma , IT<p>
            </div>
         </div></div>
      </div>
      <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon carouselbtn" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon carouselbtn" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </ng-container>

  <ng-container  *ngIf="alumnis == true" >

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="main2">
            <div class="imagesTest">
              <img src="https://media.licdn.com/dms/image/D5603AQFNAQmlCHLphw/profile-displayphoto-shrink_400_400/0/1679324681835?e=1708560000&v=beta&t=kpOp1pPAcZLHXwU5iOLor-jr1Lo8Fsp_1V7-suC6_p8" alt="">
            </div>
            <div class="textTest">
              <p>
                IET has been a
                 great contributor to the development of
                 my personality. The institution organizes
                 various workshops and guest lectures. It has
                 given me immense opportunities to participate
                  and organize different events, helping me to develop
                  confidence and managerial skills. The teachers here
                   are very helping and the
                 institution not only focuses on classroom teachings
                  but also provides the students
                  with real-time problems and hands-on industry experience
                   with project works. I am very thankful to the institution
                    for giving students the freedom to think of an idea and
                     test its practical application.
              </p>
              <p style="font-weight: 600;">Ravi Chauhan , IT<p>
            </div>
         </div>
           </div>
        <div class="carousel-item">
          <div class="main2">
            <div class="imagesTest">
              <img src="https://media.licdn.com/dms/image/C4D03AQFF5HyHHkb2iQ/profile-displayphoto-shrink_400_400/0/1617817740431?e=1708560000&v=beta&t=tATUNYRwRNeqqaO4Z1_r9jTBAt4P9ZUxq9ufBNOaILA" alt="">
            </div>
            <div class="textTest">
              <p>
                IET has been a
                 great contributor to the development of
                 my personality. The institution organizes
                 various workshops and guest lectures. It has
                 given me immense opportunities to participate
                  and organize different events, helping me to develop
                  confidence and managerial skills. The teachers here
                   are very helping and the
                 institution not only focuses on classroom teachings
                  but also provides the students
                  with real-time problems and hands-on industry experience
                   with project works. I am very thankful to the institution
                    for giving students the freedom to think of an idea and
                     test its practical application.
              </p>
              <p style="font-weight: 600;">Durgesh Tiwari , IT<p>
            </div>
         </div></div>
        <div class="carousel-item">
          <div class="main2">
            <div class="imagesTest">
              <img src="https://media.licdn.com/dms/image/C4D03AQFko0zLFamu1A/profile-displayphoto-shrink_400_400/0/1640282249262?e=1708560000&v=beta&t=1RzaIHV0yxly_ykYE43-Er__LT47PZ6Z0mOp2W-Ejvg" alt="">
            </div>
            <div class="textTest">
              <p>
                IET has been a
                 great contributor to the development of
                 my personality. The institution organizes
                 various workshops and guest lectures. It has
                 given me immense opportunities to participate
                  and organize different events, helping me to develop
                  confidence and managerial skills. The teachers here
                   are very helping and the
                 institution not only focuses on classroom teachings
                  but also provides the students
                  with real-time problems and hands-on industry experience
                   with project works. I am very thankful to the institution
                    for giving students the freedom to think of an idea and
                     test its practical application.
              </p>
              <p style="font-weight: 600;">Vinay Kushawaha
                , IT<p>
            </div>
         </div></div>
      </div>
      <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon carouselbtn" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon carouselbtn" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </ng-container>
</div>





<app-footer></app-footer>
