<app-header></app-header>
<h3 class="it">INFORMATION TECHNOLOGY</h3>
<div class="parrent">
  <div><app-side-bar></app-side-bar></div>
  <div class="containt">
    <h3 class="header1">Faculty & Staff</h3>
    <div class="line1">
      <div class="card" style="width: 16rem;margin-right: 1rem;">
        <img style="height: 13rem;" src="https://w7.pngwing.com/pngs/328/599/png-transparent-male-avatar-user-profile-profile-heroes-necktie-recruiter-thumbnail.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5>R.K. Singh</h5>
          <h6>HOD, Assistant Professor</h6>
          <h5>Specialization</h5>
          <h6>Deep Learning</h6>
          <h5>Research Area</h5>
          <h6>Machine Learning</h6>
          <h5>Total Experience</h5>
          <h6>10 year as Guest Faculty</h6>
          <h5>Email Id.:</h5>
          <h6>rksingh@gmail.com</h6>
          <h5>Contact No.:</h5>
          <h6>7355649726</h6>
        </div>
      </div>
      <div class="card" style="width: 16rem;margin-right: 1rem;">
        <img src="../assets/sir2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5>Akhilesh Kumar</h5>
          <h6>Lab assistant</h6>
          <h5>Specialization</h5>
          <h6>Computer Networks</h6>
          <h5>Research Area</h5>
          <h6>Computer Network & Information Security</h6>
          <h5>Total Experience</h5>
          <h6>More Than 8 Years</h6>
          <h5>Email Id.:</h5>
          <h6>akhileshkumar@rmlau.ac.in</h6>
          <h5>Contact No.:</h5>
          <h6>7275796798</h6>
        </div>
      </div>
      <div class="card" style="width: 16rem;">
        <img src="https://www.rmlau.ac.in/new/faculty/awadheshkumar.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5>Vineet Kumar Singh</h5>
          <h6>Assistant Professor</h6>
          <h5>Specialization</h5>
          <h6>Information Technology</h6>
          <h5>Research Area</h5>
          <h6>Cryptography</h6>
          <h5>Total Experience</h5>
          <h6>6 year as Guest Faculty</h6>
          <h5>Email Id.:</h5>
          <h6>vineet@gmail.com</h6>
          <h5>Contact No.:</h5>
          <h6>9838809301</h6>
        </div>
      </div>
    </div>
    <hr>
    <div class="line2">
      <div class="card" style="width: 16rem;margin-right: 1rem;">
        <img src="https://www.rmlau.ac.in/new/faculty/vineetkumarsingh.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5>Awadhesh Kumar Maurya</h5>
          <h6>Assistant Professor</h6>
          <h5>Specialization</h5>
          <h6>Wireless Communication & Computing</h6>
          <h5>Research Area</h5>
          <h6>Cryptography, Networking & Machine Learning</h6>
          <h5>Total Experience</h5>
          <h6>11 Years (approx)</h6>
          <h5>Email Id.:</h5>
          <h6>aumaurya@gmail.com</h6>
          <h5>Contact No.:</h5>
          <h6>9721246388</h6>
        </div>
      </div>
      <div class="card" style="width: 16rem;margin-right: 1rem;">
        <img src="https://www.rmlau.ac.in/new/faculty/samridhisingh.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5>Samridhi Singh</h5>
          <h6>Assistant Professor</h6>
          <h5>Specialization</h5>
          <h6>Operating system, cryptography, Data structure</h6>
          <h5>Research Area</h5>
          <h6>Information Security, image processing</h6>
          <h5>Total Experience</h5>
          <h6>3 year 6 months</h6>
          <h5>Email Id.:</h5>
          <h6>samriddhisingh.711@gmail.com</h6>
          <h5>Contact No.:</h5>
          <h6>9005607873</h6>
        </div>
      </div>
      <div class="card paritosh" style="width: 16rem;">
        <img src="https://www.rmlau.ac.in/new/faculty/ParitoshTripathi.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5>Paritosh Tripathi</h5>
          <h6>Assistant Professor</h6>
          <h5>Specialization</h5>
          <h6>Computer Science</h6>
          <h5>Research Area</h5>
          <h6>Image Processing, IOT</h6>
          <h5>Total Experience</h5>
          <h6>3 year 6 months</h6>
          <h5>Email Id.:</h5>
          <h6>paritoshtripathi@rmlau.ac.in</h6>
          <h5>Contact No.:</h5>
          <h6>9818588530</h6>
        </div>
      </div>
    </div>
    <hr>
    <div class="line2">
      <div class="card" style="width: 16rem;margin-right: 1rem;">
        <img src="https://w7.pngwing.com/pngs/328/599/png-transparent-male-avatar-user-profile-profile-heroes-necktie-recruiter-thumbnail.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5>Rajnish Pandey</h5>
          <h6>Professor</h6>
          <h5>Specialization</h5>
          <h6>Information Technology</h6>
          <h5>Research Area</h5>
          <h6>Artificial Intelligence</h6>
          <h5>Total Experience</h5>
          <h6>6 year as Guest Faculty</h6>
          <h5>Email Id.:</h5>
          <h6>rajneesh@gmail.com</h6>
          <h5>Contact No.:</h5>
          <h6>9838809301</h6>
        </div>
      </div>

    </div>
</div>
</div>



<app-footer></app-footer>
