<div class="contain">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink=""><img src="../assets/logo.png" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link hov" href="https://www.rmlau.ac.in/new/IET.aspx"   >
              WHY IET
            </a>
            <ul class="dropdown-menu bgc">
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/IET.aspx">IET at a Glance</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/NAAC.aspx">Accreditations & Ranking</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/IET.aspx">Life at IET</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/VissionMission.aspx">Techonology Business Inculbator</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/VissionMission.aspx">Career Guidance</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/VissionMission.aspx">Student Rewards</a></li>
            </ul>
          </li>
          <li class="nav-item ">
            <a class="nav-link hov" href="https://www.rmlau.ac.in/new/IET.aspx"   >
              ACADEMICS
            </a>
            <ul class="dropdown-menu bgc">
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/IET.aspx">Overview</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/syllabus.aspx#">Advisory Board</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/AcademicCalender.aspx">Academic Calender</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/News.aspx">Notice</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/syllabus.aspx">Syllabus</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/NAAC.aspx">NAAC</a></li>
            </ul>
          </li>
          <li class="nav-item ">
            <a class="nav-link hov" href="https://www.rmlau.ac.in/new/IET.aspx"   >
              COURSES
            </a>
            <ul class="dropdown-menu bgc">
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/faculty_AppliedScienceHumanities.aspx">APPLIED SCIENCE AND HUMANITIS</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/DeptElectronicsCommunication.aspx">E & C ENGINEERING</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/DeptComputerScience.aspx">COMPUTER SCIENCE</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/DeptMechanicalEngg.aspx">MECHANICAL ENGINEERING</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/DeptCivilEngg.aspx">CIVIL ENGINEERING</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/DeptElecEngg.aspx">ELECTRICAL ENGINEERING</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/Dept_IT.aspx">INFORMATION TECHNOLOGY</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/DeptMCA.aspx">MCA</a></li>
            </ul>
          </li>
          <li class="nav-item ">
            <a class="nav-link hov" href="https://www.rmlauentrance.in/entrance/index.aspx"   >
              ADMISSION
            </a>
            <ul class="dropdown-menu bgc">
              <li><a class="dropdown-item" href="https://www.rmlauentrance.in/entrance/index.aspx">Registration Form</a></li>
              <li><a class="dropdown-item" href="https://www.rmlauentrance.in/entrance/index.aspx">Admission Procedure</a></li>
              <li><a class="dropdown-item" href="https://www.rmlauentrance.in/entrance/index.aspx">Councling</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/OnlineFeePayment.aspx">Fee Structure</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/AntiRagging.aspx">Anti-Ragging</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/NAAC.aspx">AICTE Approvals</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link hov" href="https://www.rmlau.ac.in/new/placementCell.aspx">PLACEMENT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link hov" href="https://www.rmlau.ac.in/new/News.aspx">HAPPENING</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link hov" href="https://www.rmlau.ac.in/new/DeanOfFaculty.aspx"   >
              DIRECTOR SW
            </a>
            <ul class="dropdown-menu bgc">
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/IET.aspx">Message of Director</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/IET.aspx">Hostel</a></li>
              <li><a class="dropdown-item" href="https://scholarship.up.gov.in/">Scholership</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/RightToInformation.aspx">Student Discipline Policy</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/AntiRagging.aspx">Anti-Ragging</a></li>
              <li><a class="dropdown-item" href="https://www.rmlau.ac.in/new/NAAC.aspx">AICTE Approvals</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="horizontal-line"></div>
</div>

