
.main{
  height: auto;
  width: 60vh;
  padding-top: 5vh;
}

a{
  text-decoration: none;
  color: black;
  font-size:1em;
  font-weight: 500;
}

.list a:hover{
  color: #F79432;
  cursor: pointer;
}

.list{
  list-style: none;
}

li{
  margin: -1.2vh 0px;
}
