<app-header></app-header>
<h3 class="it">INFORMATION TECHNOLOGY</h3>
<div class="parrent">
  <div><app-side-bar></app-side-bar></div>
  <div class="containt">
    <h3 class="header1">HoD's Message</h3>
<div class="hod">
  <div><img src="https://png.pngtree.com/png-clipart/20230922/original/pngtree-silhouette-of-businessmanprofessional-profile-image-logo-template-for-business-icon-vector-png-image_12728633.png" alt="Hod picture">
    <h6>Mr R.K. Singh</h6>
    <p class="phod">HOD, Lecturer</p>
  </div>
  <div><p>Information is the life-blood of any organization,
    it needs to be relevant, accurate and available promptly.
    The shortage of professionals equipped with a sound knowledge
    and skills who can provide prompt and accurate IT solutions,
     led to a formal UG level course in Information Technology.
     The aim of the department
    is to become a centre of excellence in the field of
     IT & related research and to churn out professional to become
     leaders in innovation, entrepreneurship, and creativity in the IT field.</p></div>
</div>
</div>
</div>



<app-footer></app-footer>
